:root {
  --accent-text-color: #2196f3;
  --accent-button-bg-color: #2196f3;
  --accent-button-text-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.header {
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-color {
  color: #000000;
}
.footer-color {
  color: #ffffff;
}

.navigation-list {
  display: flex;
}
.navigation-list.item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.navigation-link.current {
  color: var(--accent-text-color);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* Hero */
.hero {
  /* width: 1600px;
  height: 600px; */
  text-align: center;
  background-color: #2f303a;
}
.hero-name {
  max-width: 696px;
  margin: 0 auto;
  padding-top: 200px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-btn {
  display: inline;
  /* margin: 0 auto; */
  min-width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.hero-btn.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Наши преимущества */
.fetures-title.not-visible {
  visibility: hidden;
}

.features-list {
  display: flex;
}
.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.features-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */
.works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.works-list {
  display: flex;
  justify-content: center;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-img {
  margin-bottom: 30px;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;

  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Фильтры-кнопки */
.sample-list {
  display: flex;
  justify-content: center;
}
.filters-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;

  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-text-color);
  border: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-button-bg-color);
  color: var(--accent-button-text-color);
}

/* Примеры работ */
.samples-list {
  display: flex;
  flex-wrap: wrap;
}
.samples-title-type {
  margin-top: 0;
  border: 1px solid #eeeeee;
  border-top: none;
}
.samples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-text-color);
}
.samples-type {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.logo.footer {
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-right: 0;
}
.address-list {
  padding-bottom: 60px;
}

.address-link.map {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-item:not(:last-child) {
  margin-bottom: 10px;
}
